.shadow {
  box-shadow: var(--offeringsPage-ring-offset-shadow, 0 0 #0000),
    var(--offeringsPage-ring-shadow, 0 0 #0000), var(--offeringsPage-shadow);
}
.palmShadow {
  box-shadow: var(--offeringsPage-ring-offset-shadow, 0 0 #0000),
    var(--offeringsPage-ring-shadow, 0 0 #0000),
    5px 5px 0px 5px rgba(19, 38, 70, 0.25);
}
.headingStyle {
  line-height: 1.3;
  letter-spacing: 3px;
}
.paraStyle {
  line-height: 1.2;
  letter-spacing: 2px;
}

.greenButton {
  background-color: rgba(175, 255, 15, 1);
}
.demoHeading {
  display: block;
}

@media (max-width: 767px) {
  .demoHeading {
    display: none;
  }
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  .demoHeading {
    display: block; /* or any other styles you want for tablets */
  }
}
