.avatarArea {
  visibility: hidden;
  display: none;
}

/* CSS for larger resolutions */
@media (min-width: 555px) {
  .avatarArea {
    visibility: visible;
    display: block;
  }
}
.hideNavbar {
  display: none;
}

.showNavbar {
  display: block;
}
